/* SIDENAV CSS */

body {
  font-family: "Lato", sans-serif;
}

.sidenav {
    height: 100%;
    width: 240px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #90EE90;
    overflow-x: auto;
    padding-top: 20px;
}

.sidenav li {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 20px;
    color: #696969;
    display: block;
}

.sidenav h2 {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 25px;
    color: #2F4F4F;
    display: block;
}

.sidenav li:hover {
    color: #f1f1f1;
}

.main {
    margin-left: 240px; /* Same as the width of the sidenav */
    font-size: 16px; /* Increased text to enable scrolling */
    padding: 0px 10px;
}

@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav li {font-size: 18px;}
}

/* MENU REVIEWS CSS */

.rev {
    float: left;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
    /* width: 100%; */
    display: flex;
    flex-direction: column;
    /* min-height: 100vh; */
    height: 30vh;
    overflow-x: scroll;
}

.rev li {
    display: block;
    background-color: inherit;
    color: black;
    padding: 22px 16px;
    width: 100%;
    border: none;
    outline: none;
    text-align: left;
    cursor: pointer;
    font-size: 17px;
}

.rev li p { margin: 0}
.rev li h4 { margin: 0}
.rev li footer { margin: 0}

.checked {
    color: orange;
}

/* MENU HOVER TAB CSS */

* {box-sizing: border-box}

/* Style the tab */
.tab {
    float: left;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
    width: 40%;
    display: flex;
    flex-direction: column;
    /* min-height: 100vh; */
    height: 100vh;
    overflow-x: scroll;
}

/* Style the buttons inside the tab */
.tab li {
    display: block;
    background-color: inherit;
    color: black;
    padding: 22px 16px;
    width: 100%;
    border: none;
    outline: none;
    text-align: left;
    cursor: pointer;
    font-size: 17px;
}

/* Change background color of buttons on hover */
.tab li:hover {
    background-color: #ddd;
}

/* Create an active/current "tab li" class */
.tab li.active {
    background-color: #ccc;
}

/* Style the tab content */
.tabcontent {
    float: left;
    padding: 0px 12px;
    border: 1px solid #ccc;
    width: 60%;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    /* border-left: none;
    height: 300px;
    display: none; */
}

/* Clear floats after the tab */
.clearfix::after {
    content: "";
    clear: both;
    display: table;
}


/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 92%;
    height: 86%;
}

/* The Close Button */
.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}
